  <div>
    <ul>
      <li>
        <h1 class="text-3xl font-bold underline">
    DASHBOARD
        </h1>
      </li>
      <li>
       Welcome  <%= @user.first_name %> <%= @user.last_name %>!
      </li>
      <li>
        <%= link_to "Become a freelancer!", new_freelancer_path if !@user.freelancer  %>
      </li>
      <% if current_user.freelancer.present? %>
      <%= link_to freelancer_path(current_user.freelancer) do  %>
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Freelancer Profile</button>
      <% end %>
      <% end %>
      <li>
        <%= link_to "EDIT", edit_user_registration_path(@user), data: { "turbo-method": :update }  %>
      </li>
      <li>
        <%= link_to "Delete your Freelancer profile", freelancer_path(@user.freelancer), data: { "turbo-method": :delete, confirm: "You are about to delete your Freelancer profile, are you sure?" } if @user.freelancer %>
      </li>
      <li>
        <%= link_to "Go back", freelancers_path %>
      </li>
    </ul>
  </div>


