<div class="container">
  <h1 class="text-3xl font-bold underline">
   Freelancer Profile
  </h1>


  <div>
    <ul>
      <li>
        NAME: <%= @freelancer.user.first_name %>
      </li>
      <li>
        LAST NAME: <%= @freelancer.user.last_name %>
      </li>
      <li>
        RATE: <%= @freelancer.rate %>
      </li>
      <li>
        BIO: <%= @freelancer.bio %>
      </li>
    </ul>
  </div>

  <div>
  <% if @freelancer.feature?  %>
    <%= "You are featured!" %>
    <% else %>
    <%= " Become featured! " %>
    <%= simple_form_for @freelancer do |f| %>
      <%= f.input :feature, label: '<----Make yourself featured!' %>
      <%= f.submit "Do it!", data: { 'turbo-method': :patch } %>
    <% end %>
  <% end %>
  </div>


  <%= link_to "Go back", freelancers_path %>
</div>